body, html {
	background-color: #EDEDED !important;
}
<<<<<<< HEAD
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
#home{
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100vh;
	/*display: flex;
	align-items: center;
}*/
=======
#about-me{
	padding: 4rem 0;
}
.w-hr{
	width: 40px;
}
.pd-28-0{
	padding: 2rem 0;
}
>>>>>>> 89d3c0c1848631cac77ae2d31bda9b0a4be4fd4d
