body, html {
	background-color: #EDEDED !important;
	font-family: 'Roboto', sans-serif;
}

/*Section: Contact*/
#contact hr{
	width: 40px;
}
.margin-bottom{
	margin-bottom: 15px;
}
.line-height{
	line-height: 2.35;
}
#info{
	padding-left: 40px;
}

/** para home **/
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#home{
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100vh;
	/*display: flex;
	align-items: center;
}*/
}

#about-me {
	padding: 4rem 0;
}

.w-hr{
	width: 40px;
}

.pd-28-0{
	padding: 2rem 0;
}

/** portfolio */
#portfolio .divider{
	width: 4rem;
	margin: auto;
	height: 2px;
}
